.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   margin-bottom: 200px;
}

.new-collections h1{
    color: rgb(41, 39, 39);
    font-size: 40px;
    font-weight: 600;
}

.new-collections hr{
    width: 400px;
    height: 9px;
    border-radius: 10px;
    background: rgb(41, 39, 39);
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}