.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

}
.footer-logo{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo p{
  color: #383838;
  font-size: 46px;
  font-weight: 700;
}
.footer-links{
  display: flex;
  list-style: none;
  gap: 50px; 
  color: #252525;
  font-size: 20px;
}

.footer-links li{
  cursor: pointer;
}
.footer-social-icons{
  display: flex;
  /* flex-direction: row; */
  gap: 20px;

}
.footer-icon-container{
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}
.footer-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 20px;
}

.footer-copyright hr{
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}


















/* .footer {
    background-color: #cb9393;
    padding: 40px 20px;

    bottom:0;
    width: 100%;
    
  }
  
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer__section {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .footer__section h3 {
    color: #333;
  }
  
  .footer__section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__section ul li {
    margin-bottom: 5px;
  }
  
  .footer__bottom {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
   */